<div>
  <form class="form-full-width" action="" [formGroup]="mapForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field class="input-full-width">
        <input matInput type="text" class="form-control" formControlName="latitude"
          [class.is-invalid]="f.latitude.error && submitted" placeholder="Latitude">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field class="input-full-width">
        <input matInput type="text" class="form-control" formControlName="longitude"
          [class.is-invalid]="f.longitude.error && submitted" placeholder="Longitude">
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary">Go</button>
    </div>
  </form>
</div>
<div>
  <h3> {{ texto }} </h3>
  <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
  </agm-map>
</div>