<div *ngFor="let employee of employees">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ employee.name }}</mat-card-title>
      <mat-card-subtitle>{{ employee.person.name }}</mat-card-subtitle>
      <span class="example-spacer"></span>
      <a class="secondary-content" (click)="onUpdate(employee.id)"><i class="material-icons secondary-content"
          style="cursor:pointer;">edit</i></a>
      <a class="secondary-content" (click)="onRemove(employee.id)"><i class="material-icons secondary-content"
          style="cursor:pointer;">delete</i></a>
    </mat-card-header>
  </mat-card>
</div>
<div>
  <button mat-raised-button color="primary" type="submit" [routerLink]="[ '/employee/create']" name="action">Adicionar
    Funcionario</button>
</div>