<div *ngFor="let area of areas">

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{ area.description }}</mat-card-title>
      <mat-card-subtitle>{{ area.person.name }}</mat-card-subtitle>
      <span class="example-spacer"></span>
      <a class="secondary-content" (click)="onAlterar(area.id)"><i class="material-icons secondary-content"
          style="cursor:pointer;">edit</i></a>
      <a class="secondary-content" (click)="onDelete(area.id)"><i class="material-icons secondary-content"
          style="cursor:pointer;">delete</i></a>

    </mat-card-header>
    <mat-card-header>
        <mat-list>
            <!-- <mat-list-item>ID: {{ area.id }}</mat-list-item>
            <mat-divider></mat-divider> -->
            <!-- <mat-list-item>Descrição: {{ area.description }}</mat-list-item>
            <mat-divider></mat-divider> -->
            <mat-list-item>{{ area.geometry }}</mat-list-item>
            <!-- <mat-list-item>ID:{{ area.soil.id }}</mat-list-item>
            <mat-divider></mat-divider> -->
            <!-- <mat-list-item>CreatedAt: {{ area.createdAt }}</mat-list-item>
            <mat-divider></mat-divider> -->
            <!-- <mat-list-item>Person: {{ area.person.name }}</mat-list-item> -->
    
          </mat-list>
    </mat-card-header>
  </mat-card>
</div>
<div>
  <button mat-raised-button color="primary" [routerLink]="[ '/area/create']" type="submit" name="action">Adicionar
    Área</button>
</div>